# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*



# Frontend altındaki modülleri engeller
sourceCode/frontend/node_modules/
sourceCode/frontend/build/

# Backend (Java) tarafındaki gereksiz dosyaları engeller
sourceCode/backend/target/
sourceCode/backend/.idea/
sourceCode/backend/*.iml

# Log dosyaları
*.log